* {
  margin: 0;
  padding: 0;
}
ol {
  list-style: none;
  color: white;
}
a {
  color: white;
}

html {
  background: url(./img/Travel\ Time.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.wrapper {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-direction: column;
  align-items: center;

  height: 700px;
}
.menu {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 20px;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 350px;
}

button {
  width: 191px;
  height: 60px;
  gap: 12px;
  border: 1;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  background: #00b43d;
  color: white;
  margin-top: 100px;
}
li {
  width: 98px;
  height: 36px;
  top: 73px;
  left: 1187px;
}

.travel_time {
  font-size: 60px;
  font-style: italic;
  font-weight: 700;
  color: white;
  border: 1;
  align-self: center;
}

.statement {
  display: flex;
  font-size: 24px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 749px;
  height: 72px;
  top: 344px;
  left: 326px;
  text-align: center;
  flex-direction: column-reverse;
}
