* {
  margin: 0;
  padding: 0;
}

html {
  background: url(./img/Travel\ Time.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.wrapper {
  display: flex;
  justify-content: center;
}
